<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BABA Blocks</title>
</head>
<body>

    <form action="/api/v1/product" method="post">
        <input type="text" name="name" required>
        <input type="number" name="price" required >
        <input type="text" name="image" required>
        <button type="submit">send</button>
    </form>
    
</body>
</html>